.spinner-container .gpt-osb {
	width: 100px;
	font-size: 100px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.osb-notification{
	position: absolute;
    height: 100px;
    width: 470px;
    top: 50px;
    right: 10px;
    text-align: center;
    border-radius:0;
}

.controlsMenuButton {
	position: fixed;
	top: 5px;
	right: 390px;
	height: 27px;
    padding-left: 9px;
}

.controlsMenuButton:disabled {
	background: 0;
	color: @orange;
}

.control-panel-path-column {
	width: 60%;
}

.control-panel-parameter-path-column {
	width: 50%;
}

.control-panel-value-column {
	width: 25%;
}

.control-panel-type-column {
	width: 100px;
	text-align: center;
}

.PublicProjectButton {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 2;
  height:27px
}

.PublicProjectButton:disabled{
	background:0;
	color:@orange;
}

#tutorial_dialog b{
	color:#37abc8;
}
#tutorial_dialog h3{
	color:#88aa00;
}
#tutorial_dialog h4{
	color:#88aa00;
}

#tutorial_dialog .formula{
	color:#37abc8;
}


