body {
    background: white;
}

.nav-tabs > li > a {
    background: rgba(211,211,211,0.5);
}

.activeExperiment {
    background-color: rgba(84, 32, 0, 0.2);
}

.nthTr { 
    background: rgba(71, 58, 51, 0.8);
}

.dropDownButtonContainer {
    background: rgba(211,211,211,0.5);
}

#experiments, #console { 
    background: rgba(211,211,211,0.8) !important;
}

.btn { 
    background: rgb(211,211,211);
}

.main-svg:first-child {
    background: rgba(255,255,255,0.5) !important;
}
 
.legend .bg {
    fill: rgba(255, 255, 255, 0.5) !important;
}
 
.ui-dialog {
    background: rgba(255, 255, 255, 0.90) !important;
}

.popup {
    color: #4c4c4c;
}

.legend-text {
    fill: black !important;
}

.connectionlabel {
    fill: black !important;
}

.btn:not(ul):not(.btn-warning):not([disabled]) {
    background-color: rgba(236, 236, 236, 0.8) !important;
    color: #fc6320;
}

.nav-tabs > li.active > a {
    background: rgba(228, 228, 228, 0.9);
}

.nav-tabs > li.active > a:focus {
    background: rgba(228, 228, 228, 0.9);
}

#console textarea {
    color: black;
}

#console div.output span.command {
    color: black;
}

#console div.output span.run {
    color: #0d08bd;
}

.modal-content {
    background: rgba(255, 255, 255, 0.8);
}
